<h1>User: <%= @user.name %></h1>
<p>User details:</p>
<%= link_to '< Back', users_path %>
<%= render 'users/user'%>

<div class="user_details__bio">
  <p>
    <%= @user.bio %>
  </p>
</div>

<div class=user_details__posts>
  <% @user.posts.each do |post| %>
  <div>
    <h3>Post #<%= post.id %></h3>
    <p><%= post.text %></p>
  </div>
  <%end%>
  <a href="#">See all posts</a>
</div>