<h1>User: <%= @user.name %></h1>
<p>User details:</p>
<%= link_to '< Back', users_path(@user.id) %>
<%= render 'users/user'%>

<div class="user_details__bio">
  <span>Bio:</span>
  <p>
    <%= @user.bio %>
  </p>
</div>

<div class=user_details__posts>
<h2>Recent Posts:</h2>
  <%if @user.post_counter == 0%>
  <h3>This user has no posts</h3>
  <%else%>
  <% @user.most_recent.each do |post| %>
  <div>
    <h3>Post #<%= post.id %></h3>
    <p><%= post.text %></p>
  </div>
  <%end%>
  <%end%>
  <%= link_to 'Create new post', new_user_post_path(@user.id)%>
  <%= link_to 'See all posts', user_posts_path(@user.id)%>
</div>