<div class="post_container">
  <div class="post_container__post">
    <div class="post_container__post__post">
      <h2>Post # <%= @user.post.id %></h2>
      <p><%= @user.post.text %></p>
      <span>Comments: <%= @user.post.comments%> Likes: <%= @user.post.likes %></span>
    </div>
    <div class="post_container__post__comments">
      <% if @user.post.comments.empty? %>
        <h3>There are no comments for this post</h3>
      <%else%>
      <ul>
      <%@user.post.comments.each do |comment|%>
        <li>
          <span class="post_container__post__comment">
            <%= comment.text %>
          </span>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>  
