<div class= "post_container__posts__full">
  <div class="post_container__posts__full_content">
    <span>Post # <%=@post.id%> by <%=@post.author.name%> // </span>
    <span>Comments: <%= @post.comments.count%> Likes: <%= @post.likes.count %></span>
    <h4><%=@post.title%></h4>
    <p>
      <%= @post.text%>
    </p>
  </div>
  <div class="post_container__posts__full_comments">
    <ul>
    <% @post.most_recent.includes([:author]).each do |comment|%>
      <li>
        <%= comment.author.name%>: <%= comment.text %>
      </li>
    <%end%>
    </ul>
  <%= render 'comments/form' %>
  <%= form_with url: user_post_likes_url(@user, @post), method: 'post' do |f| %>
    <div>
      <%= f.submit 'Like' %>
    </div>
  <% end %>
  </div>
  <%= link_to '< Back', :back%>
</div>