<!DOCTYPE html>
<html>
  <head>
    <title>BlogAppRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="box-border">
  <header>
    <img src='#'>
    <nav>
      <ul>
      <%if user_signed_in?%>
      <li><%=link_to 'My Profile', user_path(current_user)%></li>
      <li><%= button_to 'Logout', destroy_user_session_path, method: :delete%>
      <%else%>
      <li>Login</li>
      <%end%>
      </ul>
    </nav>
  </header>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
      <% flash.each do |type, msg|%>
        <div class="alert <%=type%>">
          <%= msg %>
        </div>
      <% end %>
    </main>
  </body>
</html>
